@using Bitirme.Models
@model List<KaynakMaliyetEtken>
@{
    ViewBag.Title = "Index";
}
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">KME Ad</th>

        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
        <tr>
            <td> @item.KMEAd </td>
            <td>@Html.ActionLink("Sil Butonu", "Remove", new { id = item.KMEId }, new { @class = "btn btn-warning" })</td>
            <td>@Html.ActionLink("Güncelleme Butonu", "Details", new { id = item.KMEId }, new { @class = "btn btn-success" })</td>

        </tr>
        }
    </tbody>
</table>
@Html.ActionLink("Yeni Kaynak Maliyet Etken Ekle", "Create", "KaynakMaliyetEtken")
